body, html{
    height: 98%;
    display: grid;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url("pexels-johannes-plenio-1423600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a, a:visited{
    
    color: #2F5240;
}

a:hover{
    color: #666951;
}

#flex-container{
    margin: auto;
    width: 40%;
}

.flex-item{
    display: block;
}
cite{
    text-align: left;
}

#newq, #addq{
    margin: auto;
    display: inline-block;
    border: 3px solid white;
    border-radius: 5px;
    background: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

#newq:hover, #addq:hover{
    background-color: white;
}

#quote, #source{
    margin-bottom: 30px;
}

#quote{
    font-size: 2em;
}

#source{
    font-size: 1em;
}

#img-src{
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 5px 10px; 
}